<div class="container-fluid">
  <div class="navbar navbar-expand-lg">
    <a class="navbar-brand">Hire<span>hub</span></a>
    <ul class="d-flex align-items-center justify-content-end w-100 m-0 p-1">
      <li class="nav-item">
        <a class="nav-link"><i class="bi bi-house-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="bi bi-bell-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="bi bi-chat-dots-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="bi bi-power"></i></a>
      </li>
    </ul>
  </div>
</div>
