<div class="container-fluid">
  <div class="navbar">
    <a class="navbar-brand">Hire<span>hub</span></a>
    <ul class="d-flex justify-content-center flex-grow-1 gap-5 p-3 m-0">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="authenticate">Login</a>
      </li>
    </ul>
  </div>
  <div class="headline">
    <h1>Welcome to Hirehub</h1>
    <p>Your best app to find a job</p>
    <button class="btn btn-primary" routerLink="register">join now</button>
  </div>
</div>
